* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

/* header part star */
.header {
  width: 100%;
  background: gray;



}

/* header part end */
.container {
  margin: 0 auto;
  width: 1390px;
  background: rgb(67, 134, 36);

}

.navBar ul li {
  display: inline-block;
  padding: 10px 20px;

}

.navBar {

  text-align: center;




}

.navBar ul li a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  line-height: 40px;
  font-weight: bold;
  color: white;
  transition: all linear .5s;
  padding: 10px 20px;

}

.navBar ul li a:hover {
  color: orange;
  border-radius: 10px;


}

/* Banner part start */
.banner {
  height: 100%;
  background: url('/images/bg.jpg');
  background-repeat: no-repeat;
  
  background-size: cover;
}

.overlay {
  height: 100vh;
  background: rgba(0, 0, 0, 0.577);
  width: 100%;
}

.bannerText {
  text-align: center;
  padding: 200px 0;
}

.bannerText h1 {
  text-align: center;
  
  
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  
  
}
/* Banner part end */
/* pesudo animation part start */
.crossEffect {
  position: relative;
  display: inline-block;
}

/* for horizontal lines  */
.bannerText h1::before,
.bannerText h1::after {
  position: absolute;
  content: '';
  width: 0%;
  height: 4px;
  top: 50%;
  transform: translateY(-50%);
  background: rgb(0, 255, 0);
  transition: width .4s ease;
  
}

.bannerText h1::before {
  
  right:105%;
  
}
.bannerText h1::after {
  left: 105%;
}
.bannerText h1:hover::before,
.bannerText h1:hover::after {
  
  width: 80%;
  
}



/* for vertical lines */
.bannerText .crossEffect::before,
.bannerText .crossEffect::after {
  position: absolute;
  left: 50%;
  height: 0;
  width: 4px;
  transform: translateX(-50%);
  background: rgb(0, 255, 0);
  content: '';
  transition: height .4s ease;
  
}

.crossEffect::before {
  bottom: 105%;
}

.crossEffect::after {
  top: 105%;
}
.crossEffect:hover:before,
.crossEffect:hover:after {
  height: 100px;
  
}
/* pesudo animation part end */